// src/css/quasar.variables.scss

$primary   : #3d87de;
$secondary : #8c52ff;
$accent    : #5ce1e6;

$dark      : #213255;
$dark-page : #162646;

$positive  : #21BA45;
$negative  : #c10015;
$info      : #31CCEC;
$warning   : #f2c037;